*{
    margin: 0;
    padding: 0;
}

body{
   background-color: aquamarine; 
   text-align: center;
}

h1{
    margin: 30px;
    color: rgb(7, 72, 46);
}
.container{
    height: 70vh ;
    display: flex;
    justify-content: center;
    align-content: center;
}

.game{
    display: flex;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-content: center;
    gap: 1.5vmin;
}

.box{
   height: 18vmin;
   width: 18vmin; 
   border: none;
   border-radius: 10px;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
   font-size: 8vmin ;
   background-color: rgb(28, 137, 195);
   color: rgb(114, 36, 203);
}

#reset{
    padding: 1rem;
    font-size: 1.25rem ;
    background-color: rgb(121, 176, 244);
    border-radius:1rem;
    border: none;
}

#newb{
    padding: 0.5rem;
    font-size: 1.25rem ;
    background-color: rgb(121, 176, 244);
    border-radius:1rem;
    border: none;
}

.msg-container{
    height:10vmin ;
}

.hide{
    display: none;
}

#reset{
    color: rgb(13, 13, 105);
}